{{#task}}
<h1>Edit Task</h1>
<form class="" action="/edit/{{id}}" method="post">
  <input type="text" name="task" placeholder="  Edit" value='{{title}}'>
  <input type="submit" name="" value="Edit">
</form>
{{/task}}
